;
; zLog令和Edition V3.0
;
; FURUSATO.CFG
; ふるさとコンテスト用 zLog CFG ファイル
;
; UPDATE BY JR8PPG 2026/02/10
;
#ふるさとコンテスト
prov	10;				$V 都府県支庁ﾅﾝﾊﾞｰ for ﾌｨｰﾙﾄﾞﾃﾞｰ($Q)etc
;city	100110;				$Q 市郡区ﾅﾝﾊﾞｰ for 全市全郡 etc
f1_a	CQ TEST $M TEST;	  	z で繰り返し送信される
f2_a	$C $R$Q;			町村局は$Q$O TABキーで送信、ｺﾝﾃｽﾄﾅﾝﾊﾞｰ入力に移る
f3_a	TU $M TEST;			+,j,↓で送信、QSOを確定する
f4_a	QSO B4 TU;
f5_a	NR?;
f6_a	$C?;
f7_a	$M;
f8_a	$R$Q;
;cq2	TEST DE $M
;cq3	CQ CQ CQ TEST $M $M TEST
; このコンテストで使うバンド
; 1.9 MHz ... 248GHz(WARC除く)
;                12511   12
;              142460024734
;       1371225430001447758
;       95 418040000GGGGGGG
power	HHHHHHHMMLLPP------;
WARC	OFF;
;
spc	zlog;		SPC FILE
sub	zlog;		SUB FILE
cut	0;		-x[n] option
undefmulti	on;
sendnr	$Q;	町村局は$Q$O	CONVCG 用
mode	on;
jarl    off;
