;
; ISBnew.CFG
; 石狩後志支部コンテスト用 zLog CFG ファイル
;
; UPDATE BY JR8PPG   2026/06/13
#石狩後志支部コンテスト(管内)
f1_a	CQ ISB TEST DE $M $M TEST;	z で繰り返し送信される
f2_a	$C $R$Q;			TABキーで送信、ｺﾝﾃｽﾄﾅﾝﾊﾞｰ入力に移る
f3_a	TU $M TEST;			+,j,↓で送信、QSOを確定する
f4_a	NR?;
f5_a	$C?;
f6_a	QRZ?;
f7_a	$C TU DE $M TEST;
f8_a	$C QSO B4 TU;
f1_b	$M;
f2_b	$R$Q;
f3_b	GL
f4_b	NR?
f5_b	QRL?;
f6_b	QRZ?;
f7_b	TU;
f8_b	E E;
;cq2	TEST DE $M
;cq3	CQ CQ CQ TEST $M $M TEST
power	-HHHHHHMMLP--;			1.9 MHz ... 10.1GHz&Up ﾃﾞｨﾌｫﾙﾄﾊﾟﾜｰ
dat     ISBnew;         DAT FILE
spc	zlog;		SPC FILE
sub	zlog;		SUB FILE
sendnr	$Q;		CONVCG 用
;undefmulti	on;
