;
; SHIMANE.CFG
; 島根対全日本コンテスト用 zLog CFG ファイル
;
; 起動は ZLOGCG -GSHIMANE（SHIMANE.DATが必要）
;
#島根対全日本コンテスト
mycall	JA1ZLO;
wpm	30;				ＣＷ送信速度（WPM）
weight	50;				ウエイト
tone	on;
loop	2.5;				ＣＱ繰り返し間隔（秒）
vloop	10.0;				ＣＱ繰り返し（ボイスメモリ）
;prov	32;				$V 都府県支庁ﾅﾝﾊﾞｰ for ﾌｨｰﾙﾄﾞﾃﾞｰ($Q)etc
city	3201;				$Q 市郡区ﾅﾝﾊﾞｰ for 全市全郡 etc
zero	O;				$Q,$R,$S で数字を略す
one	A;
nine	N;
f1_a	CQ AJ TEST DE $M $M TEST;	z で繰り返し送信される
f2_a	$C $R$Q;			TABキーで送信、ｺﾝﾃｽﾄﾅﾝﾊﾞｰ入力に移る
f3_a	TU $M TEST;			+,j,↓で送信、QSOを確定する
f4_a	NR?;
f5_a	$C?;
f6_a	QRZ?;
f7_a	$C TU DE $M TEST;
f8_a	$C QSO B4 TU;
f1_b	$M;
f2_b	$R$Q;
f3_b	GL
f4_b	NR?
f5_b	QRL?;
f6_b	QRZ?;
f7_b	TU;
f8_b	E E;
;cq2	TEST DE $M
;cq3	CQ CQ CQ TEST $M $M TEST
reverse	off;				ディフォルト パドル長短点
power	--H-HHHMM----;			1.9 MHz ... 10.1GHz&Up ﾃﾞｨﾌｫﾙﾄﾊﾟﾜｰ
;
pt7     111;
pt21    111;
pt28    111;
pt50    111;
pt144   111;
pt430   111;
;
dat	shimane;	DAT FILE
spc	zlog;		SPC FILE
sub	zlog;		SUB FILE
cut	0;		-x[n] option
mode	on;		-M option  FM と SSB はデュープになる
sendnr	$Q;		CONVCG 用
